{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Cortar URL{% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'slink_crear_url' %}">Cortar URL</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Cortar URL!</strong>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="post" >
                <fieldset>
                    <div id="div_url" class="form-group">
                        <label for="url" class="control-label col-md-2 requiredField">
                            URL Larga<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-link"></span>
                                </span>
                                <input class="urlinput form-control" id="url" maxlength="200" name="url" type="url" />
                            </div>
                            <span id="error_url" class="help-block" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls col-md-offset-2 col-md-10">
                            <div id="div_use_slug" class="checkbox">
                                <label for="use_slug" class="">
                                    <input class="checkboxinput" id="use_slug" name="use_slug" type="checkbox" />
                                    Personalizar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="div_slug" class="form-group" style="display: none;">
                        <label for="slug" class="control-label col-md-2">
                            svr64.xyz/
                        </label>
                        <div class="controls col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </span>
                                <input class="textinput textInput form-control" id="slug" maxlength="16" name="slug" type="text" />
                            </div>
                            <span id="error_slug" class="help-block" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="text-right form-group">
                        <div class="aab controls col-md-2"></div>
                        <div class="controls col-md-10">
                            <button type="button" id="btnCortar" data-loading-text="<span class='glyphicon glyphicon-repeat fast-right-spinner'></span> Cortar URL" class="btn btn-success" autocomplete="off"><span class="glyphicon glyphicon-scissors"></span> Cortar URL</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}

{% block modals %}
<div id="mdl_wait_msg">
    <h5><img src="{% static 'img/loader.gif' %}" /> Procesando...</h5>
</div>
{% endblock %}

{% block js %}
<script>

    $(document).ajaxStop($.unblockUI);

    $(document).ready(function() {
        $('#url').focus();
    });

    $('#btnCortar').click(function() {

        $.blockUI({ message: $('#mdl_wait_msg') });

        $('#btnCortar').button('loading');
        $.ajax({
            async: true,
            url: "/api/slink/",
            type: "GET",
            data: getFormData(),
            success: function(data) {
                window.location.href = '/ver/' + data.slug;
            },
            error: function () {

                $.ajax({
                    async: true,
                    url: "/api/slink/",
                    type: "POST",
                    data: getFormData(),
                    success: function(data) {
                        window.location.href = '/ver/' + data.slug;
                    },
                    error: function (jqXHR) {

                        if(jqXHR.responseJSON.url)
                            showFieldError('url', jqXHR.responseJSON.url);
                        else
                            clearFieldError('url');

                        if(jqXHR.responseJSON.slug)
                            showFieldError('slug', jqXHR.responseJSON.slug);
                        else
                            clearFieldError('slug');

                        $('#btnCortar').button('reset');
                    },
                    complete:function () {
                        //$('#btnCortar').button('reset');
                    },
                });
            }
        });

    });

    $('#use_slug').click(function() {
        if ($('#use_slug').is(':checked')) {
            $('#div_slug').show();
            $('#slug').focus();
        } else {
            $('#div_slug').hide();
        }
    });

    function getFormData() {
        if ($('#use_slug').is(':checked')) {
            return {url: $('#url').val(), slug: $('#slug').val()};
        } else {
            return {url: $('#url').val(), slug: ''};
        }
    }

    function clearFieldError(id) {
        $('#div_' + id).removeClass('has-error');
        $('#error_' + id).hide();
        $('#error_' + id).text('');
    }

    function showFieldError(id, mensaje) {
        $('#div_' + id).addClass('has-error');
        $('#error_' + id).html('<strong>' + mensaje + '</strong>');
        $('#error_' + id).show();
    }
</script>
{% endblock %}