{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Cortar URL{% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'slink_crear_url' %}">Cortar URL</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Cortar URL</h3>
        </div>
        <div class="panel-body">

            <form class="form-horizontal" method="post" >
                <div id="div_url" class="form-group">
                    <label for="url" class="control-label col-md-2 requiredField">
                        URL Largo<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-md-10">
                        <input class="urlinput form-control" id="url" maxlength="200" name="url" type="url" />
                        <span id="error_url" class="help-block" style="display: none;"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls col-md-offset-2 col-md-10">
                        <div id="div_use_slug" class="checkbox">
                            <label for="use_slug" class="">
                                <input class="checkboxinput" id="use_slug" name="use_slug" type="checkbox" />
                                Personalizar
                            </label>
                        </div>
                    </div>
                </div>
                <div id="div_slug" class="form-group" style="display: none;">
                    <label for="slug" class="control-label col-md-2">
                        http://svr64.xyz/
                    </label>
                    <div class="controls col-md-10">
                        <input class="textinput textInput form-control" id="slug" maxlength="16" name="slug" type="text" />
                        <span id="error_slug" class="help-block" style="display: none;"></span>
                    </div>
                </div>
                <div  class="text-right" class="form-group">
                    <div class="aab controls col-md-2"></div>
                    <div class="controls col-md-10">
                        <img id="imgLoading" style="display: none;" src="{% static 'img/loading.gif' %}" >
                        <button type="button" id="btnCortar" data-loading-text="Cargando..." class="btn btn-primary" autocomplete="off">Cortar URL</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#url').focus();
    });

    $('#btnCortar').click(function() {
        
        $('#imgLoading').show();
        $.ajax({
            context: $(this),
            url: "/api/slink/",
            type: "GET",
            data: getFormData(),
            success: function(data) {
                window.location.href = '/ver/' + data.slug;
            },
            error: function () {

                $.ajax({
                    url: "/api/slink/",
                    type: "POST",
                    data: getFormData(),
                    success: function(data) {
                        window.location.href = '/ver/' + data.slug;
                    },
                    error: function (jqXHR) {

                        if(jqXHR.responseJSON.url)
                            showFieldError('url', jqXHR.responseJSON.url);
                        else
                            clearFieldError('url');

                        if(jqXHR.responseJSON.slug)
                            showFieldError('slug', jqXHR.responseJSON.slug);
                        else
                            clearFieldError('slug');

                        
                    },
                    complete:function () {
                                $('#imgLoading').hide();
                                $('#btnCortar').button('reset');
                    },
                });

            }
        });


    });

    $('#use_slug').click(function() {
        if ($('#use_slug').is(':checked')) {
            $('#div_slug').show();
            $('#slug').focus();
        } else {
            $('#div_slug').hide();
        }
    });

    function getFormData() {
        if ($('#use_slug').is(':checked')) {
            return {url: $('#url').val(), slug: $('#slug').val()};
        } else {
            return {url: $('#url').val(), slug: ''};
        }
    }

    function clearFieldError(id) {
        $('#div_' + id).removeClass('has-error');
        $('#error_' + id).hide();
        $('#error_' + id).text('');
    }

    function showFieldError(id, mensaje) {
        $('#div_' + id).addClass('has-error');
        $('#error_' + id).html('<strong>' + mensaje + '</strong>');
        $('#error_' + id).show();
    }
</script>
{% endblock %}