{% extends 'base.html' %}
{% block title %}Ver URL{% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'slink_crear_url' %}">Cortar URL</a></li>
    <li class="active"><a href="#">Ver URL</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡URL Cortada con éxito!</strong>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="id_url" class="control-label col-md-2 requiredField">
                                URL Largo
                        </label>
                        <div class="controls col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </span>
                                <input class="form-control" readonly="true" value="{{ object.url }}" id="id_url" />
                            </div>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="id_slink" class="control-label col-md-2 requiredField">
                                URL Corto
                        </label>
                        <div class="controls col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-link"></span>
                                </span>
                                <input class="form-control" readonly="true" value="{{ object }}" id="id_slink" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="slink_copy" data-clipboard-text="{{ object }}" type="button"><span class="glyphicon glyphicon-copy"></span> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        
            <div class="text-right" class="form-group">
                <div class="controls col-md-12 ">
                    <a href="{% url 'slink_crear_url' %}"><span class="glyphicon glyphicon-file"></span> Cortar otra URL</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}
{% block js %}
<script>
    var client = new ZeroClipboard($("#slink_copy"));

    $( "#slink_copy" ).click(function() {
        $('#id_slink').select()
    });
</script>
{% endblock %}