{% extends 'base.html' %}
{% block title %}Ver URL{% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'slink_crear_url' %}">Cortar URL</a></li>
    <li class="active"><a href="{{ object }}">Ver URL</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">¡URL Cortada con éxito!</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="id_url" class="control-label col-md-2 requiredField">
                                URL Largo
                        </label>
                        <div class="controls col-md-10">
                            <input class="form-control" readonly="true" value="{{ object.url }}" id="id_url" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_slink" class="control-label col-md-2 requiredField">
                                URL Corto
                        </label>
                        <div class="controls col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-link"></span>
                                </span>
                                <input class="form-control" readonly="true" value="{{ object }}" id="id_slink" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="slink_copy" data-clipboard-text="{{ object }}" type="button"><span class="glyphicon glyphicon-copy"></span> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="text-right" class="form-group">
        <div class="controls col-md-12 ">
            <a class="btn btn-primary" href="{% url 'slink_crear_url' %}"><span class="glyphicon glyphicon-scissors"></span> Cortar otro URL</a>
        </div>
    </div>

</div>
<div class="col-md-2"></div>
{% endblock %}
{% block js %}
<script>
    var client = new ZeroClipboard($("#slink_copy"));

    $( "#slink_copy" ).click(function() {
        $('#id_slink').select()
    });
</script>
{% endblock %}